#linha1{
    text-align: center;
    background: rgb(218, 218, 221);
    border: 1px solid black;
}

#linha2{
    border: 1px solid black;
    text-align: center;
}

#linha3{
    border: 1px solid black;
}

#linha4{
    border: 1px solid black;
}